<section class="section section-padding">
<div class="columns">
<div class="column is-one-third">
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src={{instagram.data.profile_picture}} alt="Image">
      </figure>
    </div>
        <div class="content">
        <p>
          <strong>{{instagram.data.full_name}}</strong> <small>@{{instagram.data.username}}</small>
          <br>
          <b>Media :</b> {{instagram.data.counts.media}} <br>
          <b>Following :</b> {{instagram.data.counts.follows}}  <br>
          <b>Followers :</b> {{instagram.data.counts.followed_by}}  <br>
          <b>Business Profile :</b> {{instagram.data.is_business}}
          {{#if instagram.data.website}} <br> <b>Website :</b> {{instagram.data.website}} {{/if}}
          <br>
          <b>bio :</b> {{instagram.data.bio}} 
           </p>
           <hr>
            <p>
          <strong>Subscription Details</strong> <small>@{{user.purpose}}</small>
          <br>
          <b>Plan :</b> {{user.plan}}<br>
          <b>Validity :</b> {{user.validity}}<br>
          <b>Accept Limit :</b> {{user.acceptlimit}} Users <br>
         </p>
       <a href="/subscription-plans"><button class="button is-link are-large">Change your Subscription</button></a>
        <div class="columns is-mobile">
        <div class="column is-11 is-offset-1"><form method="post" action="/authentication/login"> <button class="button is-success are-large">Refresh</button></form></div>
        </div>
          <hr>  
           </div>  
    </article> 
</div>
</div>
</div>
</section>

