{{#if success}}
 <section class="hero is-medium is-success is-bold">
      <div class="columns is-mobile">
          <div class="column">
             <div class="container has-text-white has-text-centered"> 
           <strong>Accepted {{total}} requests.</strong>   
           <br>
             </div>  
          </div>
      </div>  
      </section>
 {{/if}}
<section class="section section-padding">
<div class="columns">
<div class="column is-one-third">
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src={{instagram.data.profile_picture}} alt="Image">
      </figure>
    </div>
        <div class="content">
        <p>
          <strong>{{instagram.data.full_name}}</strong> <small>@{{instagram.data.username}}</small>
          <br>
          <b>Media :</b> {{instagram.data.counts.media}} <br>
          <b>Following :</b> {{instagram.data.counts.follows}}  <br>
          <b>Followers :</b> {{instagram.data.counts.followed_by}}  <br>
          <b>Business Profile :</b> {{instagram.data.is_business}}
          {{#if instagram.data.website}} <br> <b>Website :</b> {{instagram.data.website}} {{/if}}
          <br>
          <b>bio :</b> {{instagram.data.bio}} </p><hr>
            <p>
          <h2>Subscription Details</h2> <small>@{{user.purpose}}</small>
          <br>
          <b>Plan :</b> {{user.plan}}<br>
          <b>Validity :</b> {{user.validity}}<br>
          <b>Accept Limit :</b> {{user.acceptlimit}} Users <br>
         </p>
       <a href="/subscription-plans"><button class="button is-link are-large">Change your Subscription</button></a>
          <hr>  
          <div class="columns is-centered">
            <div class="column is-half">
        <form method="post" action="/authentication/login"> <button class="button is-success are-large">Refresh</button></form>
        </div>
        </div><hr>
           </div>  
    </article> 
</div>
</div>
<div class="column is-one-third">
<div class="box">
  <article class="media">
    <div class="media-left">
    </div>
        <div class="content">
          <h3 class="title has-text-danger">Accepter</h3>
            <form method="post" id="sub" action="login/accept">
              <label class="label has-text-danger">Instagram Username</label>
                  <input class="input is-rounded is-focused" name="username" id="username" type="text" placeholder="eg: instassist" >
              </div>
              <div class="field">
                <label class="label has-text-danger">Instagram Password</label>
                  <input class="input is-rounded is-focused" name="password" id="password" type="text" placeholder="eg: instassist" >
              </div>
              <div class="field">
                <label class="label has-text-danger">Choose Accept Limit</label>
                <div class="control">
                  <div class="select">
                    <select name="limit" id="limit">
                      <option value="1000">1K</option>
                      <option value="5000">5K</option>
                      <option value="3000">10K</option>
                      <option value="0">{{user.acceptlimit}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="control">
                  <button class="button is-link">Accept</button>
                </div>
                </form>
           </div>  
    </article> 
</div>
</div>
<div class="column is-one-third">
<div class="box">
  <article class="media">
    <div class="media-left">
      
    </div>
        <div class="content">
       hello
           </div>  
    </article> 
</div>
</div>
</div>
</section>

